@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: black;
  cursor: url(images/blob.png), auto;
}

h1,
h2 {
  font-weight: 600;
  font-family: "Abril Fatface", cursive;
}

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 2px;
}

section {
  padding: 2vw 20vw 2vw 20vw;
}

input {
  border: 2px solid black;
  padding: 10px;
  font-size: 15px;
  background-color: transparent;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(155, 155, 155);
}

.bg-oldlace {
  background-color: oldlace;
}

/* //// NAV////*/

nav {
  padding-top: 50px;
}

nav a {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  font-size: 20px;
  padding-right: 30px;
}

/* //// Hero Section////*/

#hero-container {
  max-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 150px);
  grid-auto-rows: 120px;
  overflow: hidden;
}

#hero-container div:nth-child(5n + 5) {
  transform: rotate(30deg);
}

#hero-container div:nth-child(7n + 7) {
  transform: rotate(-50deg);
}

#hero-section .centered h1 {
  font-size: 150px;
  margin-bottom: 0px;
}

/* //// Intro Section////*/

#intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#intro div {
  width: 50%;
}

#side-img {
  position: relative;
  text-align: center;
  color: oldlace;
  font-size: 30px;
}

#side-img img {
  width: 80%;
}

.centered {
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ////How it works Section////*/

#explanation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.explanation-div {
  display: flex;
  padding-right: 40px;
  align-items: center;
  width: 30%;
}

.number {
  font-size: 100px;
  margin-right: 15px;
}

/* //// Doodle Section////*/

#doodle-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.doodle {
  margin: auto;
}

.doodle a {
  text-decoration: none;
}

.doodle img:hover {
  position: relative;
  top: -10px;
  transition: top 5s;
}

#doodle-container img {
  width: 80%;
}

/* //// Share Section////*/

#share {
  text-align: center;
}

#share-btn {
  background-image: url("images/bg-black.png");
  background-color: oldlace;
  background-size: contain;
  cursor: pointer;
  width: 110px;
  height: 110px;
  border: none;
  color: oldlace;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}

/* ///// Interview Section/////*/

#interview-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

#interview-container div {
  width: 50%;
}

#interview-container img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin: 25px 0 0 20px;
}

#interview-txt {
  overflow: scroll;
  margin: 12px 0;
}

#interview-txt h2 {
  margin: 0 0 40px 0;
}

/* //// Community Section////*/

#facts-container {
  display: grid;
  grid-template-columns: 10fr 0.5fr 10fr 0.5fr 10fr;
  text-align: center;
  align-items: center;
}

.facts p {
  padding-right: 18px;
  padding-left: 8px;
}

.line {
  height: 60%;
  width: 2px;
  background-color: black;
  margin-top: 70px;
}

/* //// Newsletter////*/

#newsletter {
  text-align: center;
  margin-bottom: 40px;
}

#newsletter-container {
  text-align: center;
}

#newsletter-container h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.social-banner {
  height: 40px;
  padding: 10px 0 10px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#social-right {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: moveBannerRight 15s linear infinite;
}

#social-left {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: moveBannerLeft 15s linear infinite;
}

#social-right h4,
#social-left h4 {
  float: left;
  width: 5%;
  margin-left: 80px;
}
@keyframes moveBannerRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes moveBannerLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* //// Footer ////*/

footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 2vw 12vw 2vw 12vw;
  align-items: baseline;
}

#footer-wrapper {
  display: flex;
  align-items: baseline;
}

#socials {
  margin-left: 40px;
}

#socials i {
  padding: 10px 10px 10px 0;
  font-size: 25px;
}

/* //// Media Query////*/

@media (max-width: 2000px) {
  section {
    padding: 6vw 15vw 6vw 15vw;
  }

  #social-right h4,
  #social-left h4 {
    width: 5%;
  }

  footer {
    padding: 2vw 8vw 2vw 8vw;
  }
}

@media (max-width: 1500px) {
  section {
    padding: 4vw 12vw 4vw 12vw;
  }

  #social-right h4,
  #social-left h4 {
    width: 10%;
  }

  #hero-container {
    display: grid;
    grid-template-columns: repeat(11, 120px);
  }
}

/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  section {
    padding: 4vw 10vw 4vw 10vw;
  }

  #hero-section .centered h1 {
    font-size: 80px;
  }

  #intro {
    flex-direction: column;
  }

  #intro div {
    width: 100%;
  }

  #side-img img {
    width: 50%;
  }

  #explanation-wrapper {
    flex-direction: column;
  }

  .explanation-div {
    padding-right: 0px;
    width: 100%;
  }

  .number {
    margin-bottom: 2px;
  }

  #facts-container {
    display: grid;
    grid-template-columns: 10fr;
  }

  .facts p {
    padding-right: 0px;
    padding-left: 0px;
  }

  .line {
    height: 2px;
    width: 100%;
    margin-top: 5px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 580px) {
  h1 {
    font-size: 30px;
  }

  input {
    margin-right: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  input::placeholder {
    padding-left: 5px;
  }

  #side-img {
    font-size: 20px;
  }

  #side-img img {
    width: 60%;
  }

  .number {
    font-size: 70px;
    margin: 0px;
    padding-right: 15px;
  }

  #doodle-container {
    flex-direction: column;
  }

  .doodle {
    margin: auto auto 20px auto;
  }

  #interview-container {
    flex-direction: column;
  }

  #interview-container div {
    width: 80%;
    margin: auto;
  }

  #interview-txt h2 {
    margin: 20px 0 40px 0;
  }

  #interview-container img {
    width: 100%;
    margin: 0px;
  }

  #newsletter-container h1 {
    font-size: 40px;
  }

  #footer-wrapper {
    flex-direction: column;
  }

  #socials {
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  #side-img {
    font-size: 15px;
  }
}
